body{
  background: url("../img/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contenedor{
  background-color: rgba(255, 255, 255, 0.3); /*rgba(69, 124, 161, 0.8);*/
}

.navegacion{
  margin-top: 15px;
}

.img-social{
  width: 50px;
}
